*{
  overflow-x: hidden;
}
.homepageimg{
    width:100%;
    height: 900px;
}
.appointmentbox{
    width: 400px;
    height: 250px;
    border: 1px solid lightslategray;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(30px,-780px);
  }
  .text1{
    color: darkblue;
    font-family: 'Rubik', sans-serif;
    font-size: 34px;
  }
  .text2{
    font-family: 'Raleway', sans-serif;
  }
  #number{
 background-color: #114caf;
 border-radius: 2px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 135px;
    height: 60px;
    font-weight: bold;
    float: left;
    margin-right: 16px;
}
#signup {
    background-color: white;
    border-radius: 2px;
     /* border: none; */
     border-color:#114caf ;
     height: 60px;
     width: 135px;
       color:#114caf;
       text-decoration: none;
       font-size: 15px;
       font-weight: bold; 
   }
   .text3{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #0A2472;
    transform: translate(570px,-360px);
   }
   .ex1{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(20px,-340px);
  }
  .ex1p{
    width: 80px;
    height:50px;
  }
  .text4{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text5{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .ex2{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(470px,-580px);
  }
  .ex2p{
    width: 80px;
    height:50px;
  }
  .text6{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text7{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .ex3{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(470px,-550px);
  }
  .ex3p{
    width: 80px;
    height:50px;
  }
  .text8{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text9{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .ex4{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(20px,-790px);
  }
  .ex4p{
    width: 80px;
    height:50px;
  }
  .text10{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text11{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .ex5{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(910px,-1300px);
  }
  .ex5p{
    width: 80px;
    height:50px;
  }
  .text12{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text13{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .ex6{
    width: 330px;
    height: 140px;
    background-color: #fafafa;
    border-radius: 2px;
    padding: 40px;
    margin: 20px;
    transform: translate(910px,-1270px);
  }
  .ex6p{
    width: 80px;
    height:50px;
  }
  .text14{
    font-family: 'Rubik', sans-serif;
   font-size: 20px;
   color: #0A2472;
  }
  .text15{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  .text16{
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    color: #0A2472;
    transform: translate(45px,-1100px);
   }
   .text17{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    transform: translate(45px,-1100px);
  }
  .spec1{
   background-color: #f8fafc;
   width: 280px;
   height: 230px;
   transform: translate(805px,-1160px);
   border: none;
  }
  .spec1p{
    width: 80px;
    height:50px;
    transform: translate(-80px,-28px);
  }
  .text18{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #0A2472;
    transform: translate(-80px,-15px);
  }
   .arrow1{
    font-size: 30px;
    transform: translate(-105px,10px);
    color: #0A2472;
  } 
   .arrow1:hover{
    font-size:40px ;
    /* background-color: darkblue; */
  } 
  .spec2{
    background-color: white;
    width: 280px;
    height: 230px;
    transform: translate(1090px,-1400px);
    border: none;
   }
   .spec2p{
     width: 80px;
     height:50px;
     transform: translate(-80px,-28px);
   }
   .text19{
     font-family: 'Kanit', sans-serif;
     font-size: 20px;
     color: #0A2472;
     transform: translate(-80px,-15px);
   }
    .arrow2{
     font-size: 30px;
     transform: translate(-105px,10px);
     color: #0A2472;
   } 
   .arrow2:hover{
    font-size:40px ;
    /* background-color: darkblue; */
  } 
   .spec3{
    background-color: #f8fafc;
    width: 280px;
    height: 230px;
    transform: translate(530px,-1390px);
    border: none;
   }
   .spec3p{
     width: 80px;
     height:50px;
     transform: translate(-80px,-28px);
   }
   .text20{
     font-family: 'Kanit', sans-serif;
     font-size: 20px;
     color: #0A2472;
     transform: translate(-45px,-15px);
   }
    .arrow3{
     font-size: 30px;
     transform: translate(-105px,10px);
     color: #0A2472;
   } 
   .arrow3:hover{
    font-size:40px ;
    /* background-color: darkblue; */
  } 
  .spec4{
    background-color: white;
    width: 280px;
    height: 230px;
    transform: translate(820px,-1610px);
    border: none;
   }
   .spec4p{
     width: 80px;
     height:50px;
     transform: translate(-80px,-28px);
   }
   .text21{
     font-family: 'Kanit', sans-serif;
     font-size: 20px;
     color: #0A2472;
     transform: translate(-45px,-15px);
   }
    .arrow4{
     font-size: 30px;
     transform: translate(-105px,10px);
     color: #0A2472;
   } 
   .arrow4:hover{
    font-size:40px ;
    /* background-color: darkblue; */
  } 
  .spec5{
    background-color: #f8fafc;
    width: 280px;
    height: 230px;
    transform: translate(1085px,-1851px);
    border: none;
   }
   .text22{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #0A2472;
    transform: translate(-9px,-15px);
  }
  .text22:hover{
    font-size: 28px;
  }
 