/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} */

body {
    background-color: #f2f2f2;
}

.heading {
    padding: 80px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 5px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;

}

.container {
    width: 90%auto;
    /* margin: 0 auto;
    padding: 10px 10px; */
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about_img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about_img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about_img:hover img {
    transform: scale(1.2);
}

.about_content {
    flex: 1;
}

.about_content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about_content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about_content .read-more {
    background-color: #000;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about_content .read-more:hover {
    background-color: #3e8e41;

}

@media screen and(max-width:768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about_img {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about_content p {
        padding: 0;
        font-size: 16px;
    }

}

.content {
    flex: 1;
}

.content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Add margin to separate from other sections */
}

.content h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    /* Adjust margin as needed */
}