html{
    max-width: 100%;
  }
  .doctorimg{
  width: 87%;
  height: 400px;
  }
  body {
    background-color: white;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
   margin:0;
   left:0; right: 0;
   width: 100%;
   text-align: center;
  }
  .doctor img{
    margin-top: 4%;
    width:90%;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  .doctor,details[open] .doctorinfo{  
    background-color:#ededed;
  color:rgb(17, 17, 17);
  padding: 2px;
  margin:1%;
  width:27%;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
  display: inline-table;
  border-radius: 10px;
  font-size: 2emu;
  }
  .doctorinfo img{
    width:30px;
    margin:2%;
  }
  .doctorinfo{
    padding: 4%;
    font-size:20px;
    text-align: left;
    display: block;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
  }.--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .--animate {
    transition: opacity 0.4s ease-in-out;
  }.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .doctor details[open] .doctorinfo{
  z-index: 5;
  position:absolute;
  padding:2%;
  width:24%
  }
  

